<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <script src="{% static 'js/jquery.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js" defer></script>

    <script src="{% static 'js/jquery.tokeninput.js'%}" defer></script>
    <link rel="stylesheet" href="{% static 'css/token-input.css' %}">
    <link rel="stylesheet" href="{% static 'css/token-input-facebook.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">

    <script src="{% static 'js/player.js' %}" defer></script>
</head>
<body>
 {% include 'player.html' %}
</body>
</html>