<div class="header">
    <div class="burger-wrapper">
        <div class="burger"></div>
    </div>
    <div class="logo-text">{% firstof logo_text "Рекомендательный алгоритм" %}</div>
</div>

<div class="nav">
    <ul class="nav_main">
        <li> <a class="nav_link" href="/users/">Главная</a></li>
        <li> <a class="nav_link" href="/for_musicians/">Для музыкантов</a></li>
    </ul>
    <div class="nav_divider"></div>
    <ul class="nav_sub">
        <li><a class="nav_link" href="/about/">О нас</a></li>
        <li><a class="nav_link" href="/history/">История</a></li>
    </ul>
</div>